build/*
**/bin/*
**/obj/*
**/temp/*
*.html
*.spv
.vscode/*
*.obj
.vs/*
*.sln
*.vcxproj*
*.log
*.tlog
*.lib
*.pdb
*.idb
*.ini
thirdparty/imgui/**.md
thirdparty/imgui/**.png
thirdparty/imgui/examples/*
thirdparty/imgui/docs/*
thirdparty/imgui/.github/*

VulkanRender/*