
#WindowWidth = 1280
#WindowHeight = 720

#WindowX = 1920
#WindowY = 0

#ShowConsole = 1

#r_showcpuprof = true
#r_showgpuprof = true
#r_forceshaderrecompilation = true
#r_showforwardtech = true


#ExitValidationLayer = false

g_LoadScene = scenes/emissive.yaml

